<component name="ArtifactManager">
  <artifact type="war" name="spring_an:war">
    <output-path>$PROJECT_DIR$/src/stage3/spring/day02/sourceCode/spring_an/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_an</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_an-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_an:war exploded" />
    </root>
  </artifact>
</component>