<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.zlt"/>

    <bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--配置shiro的加密管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
        <property name="subjectDAO">
            <!--关闭subject对session的支持-->
            <bean class="org.apache.shiro.mgt.DefaultSubjectDAO">
                <property name="sessionStorageEvaluator">
                    <bean class="org.apache.shiro.mgt.DefaultSessionStorageEvaluator">
                        <property name="sessionStorageEnabled" value="false"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <!--shiro的过滤器配置-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="authc"/>
            </map>
        </property>

        <property name="filterChainDefinitions">
            <!--anon 未登录也可以访问
            authc 登录后才可以访问-->
            <value>
                /user/login=anon
                /user/reg=anon
                /user/validate=anon
                /user/menu=anon
                /user/*=authc
            </value>
        </property>
    </bean>
</beans>